.footer {
 background-color: #1E1D23;
 display: grid;
 justify-items: center;
 padding-top: 30px;
 row-gap: 30px;
}

.icons {
 display: flex;
 column-gap: 50px;
 color:white;
 font-size: 55px;
}
.icons >* {
 transform: scale(1.8);
}
input {
 height: 3rem;
 width: 15rem;
 text-align: center;
}
.button{
 height: 3rem;
}
input:hover{
 border: 1px solid yellow;
}
.footer>p {
 color: white;
}
